{% if 'ACTIVE' == status %}
    <span class="badge badge-success">
        Active
    </span>
{% elseif 'ARCHIVED' == status %}
    <span class="badge badge-warning">
        Archived
    </span>
{% endif %}